#contenedor2 {
    position: relative;
    top: 30px;
    left: 40px;
    background-color: rgb(217, 217, 217);
    min-height: 300px;
    min-width: 430px;    
    border-radius: 2%;
    padding-left: 40px;    
}

#nombre {
    display: flex;
}

#funcion {
    display: flex;
}